@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: url(/siteimg/skyrimbg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-bg{
    background: url(/siteimg/sitebg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body h2{
    font-family: 'Roboto', sans-serif;
}

.logo{
    height: 5rem;
    width: 8rem;
}

.nav1{
    background-color: #312783 !important;
}

.nav1:hover{
    background-color: #951B81 !important;
}

.drropdown{
    background-color: #312783 !important;
    border: none;
}

.drropdown:hover{
    background-color: #951B81 !important;
}

.submit-button{
    background-color: #312783 !important;
    border: none;
    color:white;
}

.submit-button:hover{
    background-color: #951B81 !important;
    color:white;
}

@media only screen and (max-width: 1200px) {
    .recommended{
        display: none;
    }
}