@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: url(/siteimg/bg5.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbg{
    background: url(/siteimg/sitebg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-bg{
    background: url(/siteimg/sitebg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body h2{
    font-family: 'Roboto', sans-serif;
}

.logo{
    height: 5rem;
    width: 8rem;
}

.nav1{
    background-color: #FFCC70 !important;
    color: #C850C0 !important;
}

.nav1:hover{
    background-color: #C850C0 !important;
    color: white !important;
}

.drropdown{
    background-color: #FFCC70 !important;
    border: none;
    color: #C850C0 !important;
}

.drropdown:hover{
    background-color: #C850C0 !important;
    color: white !important;
}

.submit-button{
    background-color: white !important;
    border: none;
    color:black;
}

.submit-button:hover{
    background-color: #C850C0 !important;
    color:white;
}

.post-button{
    background-color: #FFCC70 !important;
    border: none;
    color:#C850C0 !important;
}

.post-button:hover{
    background-color: #C850C0 !important;
    color:white !important;
}

.sizebg{
    background: #FFCC70;
    color: #C850C0;
    border-radius: 25px;
}

.categoryhover{
    background: #FFCC70;
    color: #C850C0;
    border-radius: 25px;
}

.categoryhover:hover{
    background:#C850C0 ;
    color: white;
    transition: 0.2s ease;
}

@media only screen and (max-width: 1200px) {
    .recommended{
        display: none;
    }
}
